.MathJax {
  color: #0000ff !important;
  font-size: 110% !important;  /* 调整字体大小 */
  transform: scale(0.9);       /* 使用 transform 进行缩放 */
  transform-origin: center;
  margin-top: -0.5em !important;
  margin-bottom: -0.5em !important;
  margin-left: 0.1em !important;
  margin-right: 0.1em !important;
  padding: 0.5em 0 !important;
}

/* MathJax dark mode - using Material for MkDocs theme selector */
[data-md-color-scheme="slate"] .MathJax {
  color: #96adfc !important; /* White color for dark mode */
}
